@font-face {
    font-family: 'Circe-Regular';
    src: url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: normal;
}

@font-face {
    font-family: 'Circe-Bold';
    src: url('../fonts/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: normal;
}

@font-face {
    font-family: 'Circe-Extrabold';
    src: url('../fonts/Circe-Extrabold.woff') format('woff'),
        url('../fonts/Circe-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-display: normal;
}